* {
    box-sizing: border-box;
}


body {
    font-family: 'League Spartan', sans-serif;
    font-size:15px;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: hsl(300, 24%, 96%);
   
}

.container {
    max-width:1300px;
    margin:0 auto;


}

.card {
    background-color: white;
    padding:5% 7%;
    border-radius:0.6rem;
  
}

.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid1 {
    
}
h1 {
    font-size:2.5rem;
    color:hsl(300, 43%, 22%);
    font-weight: 700;
    padding:0 37% 0 1rem;
    
}

p{
    line-height:1.5;
    
}

.grid1 p {
    color:hsla(300, 43%, 22%, 0.8);
    padding: 0 37% 0 0.7rem;
    
}

.grid2 {
    padding-top:2rem;
}

.grid2 div:nth-of-type(2){
  margin-left: 3rem;
}

.grid2 div:nth-of-type(3){
    margin-left: 6rem;
  }



.rating {
    background-color:hsl(300, 24%, 96%) ;
    display:flex;
    align-items: center;
    margin-top:0.5rem;
    border-radius: 10px;
    padding:0 2rem;
    width:80%;
    
    
   
    
}

.rating img {
    width:1rem;
    height:1rem;
    margin-right: 0.3rem;
   
}

.rating p {
    color:hsl(300, 43%, 22%);
    font-weight: 700;
    margin-left: 3rem;
    
}


.row2 {
    display:flex;
    justify-content: space-evenly;
}

.review {
    background-color:hsl(300, 43%, 22%) ;
    margin:1rem;
    color:white;
    padding:1.5rem;
    border-radius: 5px;
    height:15%;
}

.row2 div:nth-of-type(2){
    margin-top: 2rem;
  
  }

  .row2 div:nth-of-type(3){
    margin-top: 4rem;
  }

.review img {
    border-radius: 50px;
    width:20%;
    height:20%;
    margin-right:1.5rem;
   
}

.information_bar {
    display:flex;
    align-items: center;
    margin-bottom:1.5rem;
    
}

.information_bar p {
    line-height:0.5 ;
}




@media only screen and (max-width:768px){
    body {
        text-align: center;
        height:auto;
        
       
    }

    .grid1 {
        padding:0;
        margin-bottom:-1.2rem;
    }

    .grid1 h1 {
        padding:0;
    }

    .grid1 p {
        font-size:1rem;
        padding:0;
        
    }

    h1 {
        font-weight: 700;
    }

   .rating { 
    width:100%;
    display: block;
    padding:0.5rem 0;

   }

   .rating p {
    margin:0;
    
   }

   .review {

    width:100%;
    margin:0;
    margin-top:2rem;
    text-align: left;
   }
    .grid2 div:nth-of-type(2){
        margin-left: 0;
      }
      
      .grid2 div:nth-of-type(3){
          margin-left: 0;
        }
      
    
    .row1 {
       
        grid-template-columns: 1fr ;
    }

    .row2 {
        display:block;
        justify-content: space-evenly;
    }

    .row2 div:nth-of-type(3){
        margin-top: 2rem;
      }
    
}